
@* 
@{
    ViewData["Title"] = "Add Employee";
}

<h2>@ViewData["Title"]</h2> *@

<form asp-action="AddEmployee" method="post">
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" name="Name" value="" required />
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" name="Email" value="" required />
    </div>
    <div class="form-group">
        <label for="Contact">Contact</label>
        <input type="text" class="form-control" name="Contact" value="" required />
    </div>
    <button type="submit" class="btn btn-success">Add Employee</button>
</form>
